
////////// COLOR SYSTEM //////////

$blue:              #5E50F9;
$indigo:            #6610f2;
$purple:            #6a008a;
$pink:              #E91E63;
$red:               #f96868;
$orange:            #f2a654;
$yellow:            #f6e84e;
$green:             #46c35f;
$teal:              #58d8a3;
$cyan:              #57c7d4;
$black:             #000;
$white:             #ffffff;
$white-smoke:       #f2f7f8;
$violet:            #41478a; 
$darkslategray :    #2e383e;
$dodger-blue :      #3498db;


$colors: (
  blue:             $blue,
  indigo:           $indigo,
  purple:           $purple,
  pink:             $pink,
  red:              $red,
  orange:           $orange,
  yellow:           $yellow,
  green:            $green,
  teal:             $teal,
  cyan:             $cyan,
  white:            $white,
  gray:             #434a54,
  gray-light:       #aab2bd,
  gray-lighter:     #e8eff4,
  gray-lightest:    #e6e9ed,
  gray-dark:        #0f1531,
  black:            #000000
);


$theme-colors: (
  primary:         $blue, 
  secondary:       #eaeaea,
  success:         $green,
  info:            $purple,
  warning:         $yellow,
  danger:          $orange,
  light:           #f2f7f8,
  dark:            #3a3f51
);

$theme-gradient-colors: (
  primary:         linear-gradient(to right, #da8cff, #9a55ff),
  secondary:       linear-gradient(to right, #e7ebf0, #868e96),
  success:         linear-gradient(to right, #84d9d2, #07cdae),
  info:            linear-gradient(to right, #90caf9, #047edf 99%),
  warning:         linear-gradient(to right, #f6e384, #ffd500),
  danger:          linear-gradient(to right, #ffbf96, #fe7096),
  light:           linear-gradient(to bottom, #f4f4f4, #e4e4e9),
  dark:            linear-gradient(89deg, #5e7188, #3e4b5b)
);


////////// COLOR SYSTEM //////////

////////// COLOR VARIABLES //////////
$content-bg: #F6F8FA;
$footer-bg: $content-bg;
$footer-color: color(dark);
$border-color: #f3f3f3;
$border-dark: rgba(166, 171, 182, 0.3);

////////// COLOR VARIABLES //////////



////////// SOCIAL COLORS //////////

$social-colors: (
  twitter: #2caae1,
  facebook: #3b579d,
  google: #dc4a38,
  linkedin: #0177b5,
  pinterest: #cc2127,
  youtube: #e52d27,
  github: #333333,
  behance: #1769ff,
  dribbble: #ea4c89,
  reddit: #ff4500
);

////////// SOCIAL COLORS //////////

////////// FONTS//

$type1: 'Roboto', sans-serif;

$default-font-size: .875rem; // 14px as base font size

$text-muted: #8d9498;
$body-color: #12131a;

////////// FONT VARIABLES //////////

////////// SIDEBAR ////////
$sidebar-width-lg: 255px;
$sidebar-width-mini: 185px;
$sidebar-width-icon: 70px;
 
$sidebar-light-bg:  $white;
$sidebar-light-menu-color: #8d9498;
$sidebar-light-menu-active-bg: initial;
$sidebar-light-menu-active-border: #5f6be3;
$sidebar-light-menu-active-color: #404852;
$sidebar-light-menu-hover-bg: #f6f6f6;
$sidebar-light-menu-hover-color: #8d9498;
$sidebar-light-submenu-color: #656565;
$sidebar-light-submenu-hover-bg: initial;
$sidebar-light-submenu-hover-color: #000;
$sidebar-light-icon-active-color: theme-color(success);
$sidebar-light-icon-bg: rgba(0,0,0,.12);
$sidebar-light-menu-icon-color: #404852; 
$sidebar-light-menu-arrow-color: #9e9da0;
$sidebar-light-submenu-bg: #fff;

$sidebar-light-category-color: #999999;
$sidebar-light-profile-name-color: #404852;
$sidebar-light-profile-title-color: #8d9498;

$sidebar-dark-bg:#242635;
$sidebar-dark-menu-color: #8e94a9;
$sidebar-dark-submenu-color: #888;
$sidebar-dark-menu-active-bg: #1a1c29;
$sidebar-dark-menu-active-color: $white;
$sidebar-dark-menu-hover-bg: #161621;
$sidebar-dark-menu-hover-color: #fff;
$sidebar-dark-submenu-hover-color: darken($sidebar-dark-submenu-color, 20%);
$sidebar-dark-menu-icon-color: #8e94a9;
$sidebar-dark-menu-arrow-color: rgba(255,255,255,.36);
$sidebar-dark-menu-border-color: #f2edf3;
$sidebar-dark-icon-bg: rgba(194,244,219,.12);
$sidebar-dark-icon-color: #33c92d;
$sidebar-dark-action-border: rgba(151,151,151,.27);

$sidebar-dark-submenu-bg: #1a1c29;
$sidebar-dark-submenu-active-color: #fff;
$sidebar-dark-menu-icon-color: #bba8bff5;
$sidebar-dark-menu-arrow-color: #9e9da0;

$sidebar-category-font-size: .6875rem;
$sidebar-category-padding: .75rem 1.188rem;

// $sidebar-menu-font-size: 0.937rem;
$sidebar-menu-padding-y: .625rem;
$sidebar-menu-padding-x: 2.375rem;


$sidebar-menu-font-size: .875rem;
$sidebar-menu-padding-left: 1.25rem;
$sidebar-menu-padding-right: 1.25rem;
$sidebar-menu-padding-top: .75rem;
$sidebar-menu-padding-bottom: .75rem;

$sidebar-menu-padding: 1rem 1.875rem;

$sidebar-submenu-font-size: .8125rem;
$sidebar-submenu-item-padding: 0.625rem 0.825rem;

$sidebar-icon-font-size: .9375rem;
$sidebar-arrow-font-size: .625rem;

$sidebar-profile-bg: transparent;
$sidebar-profile-padding: 0 1.625rem 2.25rem 1.188rem;

$sidebar-icon-only-menu-padding: .5rem 1.625rem .5rem 1.188rem;
$sidebar-icon-only-submenu-padding: 0 0 0 1.5rem;

$sidebar-submenu-padding: 0 0 0 4.25rem;
$sidebar-box-shadow: none;

$icon-only-collapse-width: 190px;
$icon-only-menu-bg-light: $sidebar-light-bg;
$icon-only-menu-bg-dark: $sidebar-dark-bg;

///////// SIDEBAR ////////

///////// NAVBAR ////////

$navbar-default-bg: $white;
$navbar-height: 58px;
$navbar-bg: #ffffff;
$navbar-menu-color: #1c2c42;
$navbar-font-size: 0.9375rem;
$navbar-icon-font-size: 1.25rem;
$nvabar-brand-bg: #181824; 
$nvabar-toggler-color: #9b9b9b;
$navbar-toggler-color:#9b9b9b;
$nvabar-search-icon-color: #8e94a9;
$navbar-search-bg: #eef0fa;
$nav-dropdown-color: #111111;
$navbar-brand-bg: #2c2f41;
$navbar-search-font-color: #707889;
$navbar-search-placeholder-color: #979797;
$nav-link-height: 52px;
///////// NAVBAR ////////



///////// BUTTONS ////////

$button-fixed-width:        150px;
$btn-padding-y:       0.625rem;   
$btn-padding-x:       1.225rem;
$btn-line-height:     1;

$btn-padding-y-xs:    .5rem;
$btn-padding-x-xs:    .75rem;

$btn-padding-y-sm:    .50rem;
$btn-padding-x-sm:    .81rem;

$btn-padding-y-lg:    1rem;
$btn-padding-x-lg:    3rem;

$btn-font-size:       0.813rem;
$btn-font-size-xs:    .625rem;
$btn-font-size-sm:    0.875rem;
$btn-font-size-lg:    .875rem;
$btn-font-size-icon:  1.25rem;

$btn-border-radius:         .1875rem;
$btn-border-radius-xs:      .1875rem;
$btn-border-radius-sm:      .1875rem;
$btn-border-radius-lg:      .1875rem;

///////// BUTTONS ////////



////////// TOOLTIP VARIABLES //////////

//default styles
$tooltip-font-size:     .75rem;
$tooltip-padding-y:     .4rem;
$tooltip-padding-x:     .75rem;
$tooltip-border-radius: .375rem;

////////// TOOLTIP VARIABLES //////////



/////////  FORMS /////////

$input-bg:                color(white);
$input-border-radius:     2px;
$input-placeholder-color: #979797;
$input-font-size: .8125rem;

$input-padding-y:       .875rem;
$input-padding-x:       1.375rem;
$input-line-height:     1;

$input-padding-y-xs:    .5rem;
$input-padding-x-xs:    .75rem;

$input-padding-y-sm:    .50rem;
$input-padding-x-sm:    .81rem;

$input-padding-y-lg:    .94rem;
$input-padding-x-lg:    1.94rem;

///////// FORMS /////////

////////  DROPDOWNS ///////

$dropdown-color: $body-color;
$dropdown-border-color: $border-color;
$dropdown-divider-bg:   $border-color;
$dropdown-link-color:   $body-color;
$dropdown-header-color: $body-color;
////////  DROPDOWNS ///////

//////// TABLES ////////

$table-color: $body-color;
$table-accent-bg: $content-bg;
$table-hover-bg:  #eaeaf1;
$table-cell-padding: 1.25rem .9375rem;
$table-border-color: $border-color;

$table-inverse-bg: #2a2b32;
$table-inverse-color: color(white);

//////// TABLES ////////



////////// MEASUREMENT AND PROPERTY VARIABLES //////////

$border-property: 1px solid $border-color;
$card-spacing-y: 1.875rem;
$card-padding-y: 1.88rem;
$card-padding-x: 1.81rem;
$card-border-radius: 0.375rem;
$card-border-color:#e7eaed;
$card-box-shadow: none;
$card-title-color: #737373;
$card-description-color: #76838f;
$grid-gutter-width: 20px;
$action-transition-duration: 0.25s;
$action-transition-timing-function: ease;
$card-description-color: #76838f;
$card-box-shadow: 6px 11px 41px -28px #a99de7;
////////// OTHER VARIABLES //////////



////////// BREAD CRUMBS VARIABLES //////////

// default styles
$breadcrumb-padding-y:              0.56rem;
$breadcrumb-padding-x:              1.13rem;
$breadcrumb-item-padding:           .5rem;
$breadcrumb-margin-bottom:          1rem;
$breadcrumb-font-size:              $default-font-size;
$breadcrumb-bg:                     transparent;
$breadcrumb-border-color:           $border-color;
$breadcrumb-divider-color:          $gray-600;
$breadcrumb-active-color:           $gray-700;
$breadcrumb-divider:                "/";

// custom styles
$breadcrumb-custom-padding-y:       0;
$breadcrumb-custom-padding-x:       0;
$breadcrumb-custom-item-padding-y:  0.56rem;
$breadcrumb-custom-item-padding-x:  10px;
$breadcrumb-custom-item-color:      $black;
$breadcrumb-item-bg:                #dbe3e6;

////////// BREAD CRUMBS VARIABLES //////////



////////// MODALS VARIABLES //////////

$modal-inner-padding:               .9375rem;
$modal-dialog-margin:               10px;
$modal-dialog-margin-y-sm-up:       30px;
$modal-title-line-height:           $line-height-base;
$modal-content-bg:                  $white;
$modal-content-box-shadow-xs:       0 3px 9px rgba($black,.5);
$modal-content-box-shadow-sm-up:    0 5px 15px rgba($black,.5);

$modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:            .5;

$modal-header-border-color:         $border-color;
$modal-content-border-color:        $border-color;
$modal-footer-border-color:         $border-color;

$modal-header-border-width:         $border-width;
$modal-content-border-width:        $border-width;
$modal-footer-border-width:         $border-width;

$modal-header-padding-x:              26px;
$modal-header-padding-y:              25px;

$modal-body-padding-x:                26px;
$modal-body-padding-y:                35px;

$modal-footer-padding-x:              31px;
$modal-footer-padding-y:              15px;

$modal-lg:                          90%;
$modal-md:                          500px;
$modal-sm:                          300px;
$modal-transition:                  transform .4s ease;

////////// MODALS VARIABLES //////////

/////////  TABS VARIABLES //////////
$nav-tabs-border-color:             #ebedf2;
$nav-tabs-link-bg:                  #f6f8fa;
$nav-tabs-link-color:               #000000;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
$nav-tabs-link-active-color:        theme-color(success);
$nav-tabs-link-active-bg:           $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-link-active-bg;
$nav-pills-custom-bg:               #fcfcfd;
////////   TABS VARIABLES /////////

////////   CALENDAR  //////////////
$fullcalendar-color: #a8b2b9;
////////   CALENDAR  //////////////

///////// SETTINGS PANEL ////////
$settings-panel-width: 300px;
///////// SETTINGS PANEL ////////

////////// Vendor file asset path //////////
$mdi-font-path:        "~@mdi/font/fonts";
$fa-font-path : '~font-awesome/fonts/';
$flag-icon-css-path : '~flag-icon-css/flags/';
$simple-line-font-path : '~simple-line-icons/fonts/';


///////// BOXED LAYOUT ///////
$boxed-container-width: 1200px;
$boxed-layout-bg: #c6c8ca;
///////// BOXED LAYOUT ///////

///////// DASHBOARD ///////
$card-mixed-danger :linear-gradient(to bottom, #d41459 , #911a6c);
///////// DASHBOARD ///////

////////   CHAT  //////////////
$chat-container-height:950px;
////////   CHAT  //////////////

$bullet-line-list-shape-bg: color(white) !default;


$iconlist-bg: #cfd7f9;
$iconlist-border: #d0d3df;

$blue-teal-gradient: linear-gradient(88deg, #13b4ca, #18cabe);